@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{padding: 0;margin: 0;font-family : 'Poppins', sans-serif;}
body{
    padding: 0;margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.searchArea{
    height: 15vh;
    background-color: rgb(132, 0, 255);color: white;
    display: flex;align-items: center;
    justify-content: space-evenly;

}
    #title{margin-right: 10%;margin-left: 1%;}
    #secSearch{margin-left: 10%;margin-right: 1%;}
        #hSearch{
            text-align: left;
            padding-left: .5vh;
            margin-bottom: 1vh;
            font-size: x-large;
            font-weight: 500;
        }
        #divSearch{
            display: flex;
            height: 4vh;
            width: 30vh;
        }
            #inptSearch{
                font-size: medium;
                width: 88%;
                margin: 0px;
                padding-left: 1vh;
                border: none;
                color: rgb(89, 0, 255);
            }
                #inptSearch:focus{
                    outline: none;
                }
            #btnSearch{
                width: 12%;
                padding: 0vh .6vh; margin: 0px;
                background-color: white;
                border: none;
            }
                #btnSearch:hover{
                    background-color: rgb(184, 107, 255);
                    cursor: pointer;
                }
                #btnSearch:active{
                    background-color: rgb(157, 51, 255);
                }
                #imgSearch{
                    width: 100%;
                    height: 100%;
                }



.resultArea {
    height: 80vh; /* Set a fixed height */
    padding: 5vh 15vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto; /* Add vertical scrollbar */
}
.card{
    display: flex; flex-direction: column;
    flex-basis: calc(20% - 20px); flex-grow: 1;
    justify-content: space-between; align-items: center;
    min-width: 30vh; min-height: 30vh;
    padding: 30px; margin: 10px;
    border: 1px solid rgb(132, 0, 255); border-radius: 30px;
    box-shadow: 1px 1px 15px; transition: transform .5s ease;
}
.card:hover{
    transform: scale(.95);
    box-shadow: 1px 1px 10px;
}
    .divimg{
        width: 65%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 1vh;
    }
        .resultimg{
            width: 100%;
            border-radius: 14px;
        }
    .title{
        font-size: x-large;
        margin: 0vh;
        padding: 0vh;
    }
    .btnRecipe{
        padding: 1.5% 9%;
        border: none;
        border-radius: 100px;
        background-color: rgb(132, 0, 255);
        color: white;
        font-size: medium;
        text-decoration: none;
    }
    .btnRecipe:hover{
        background-color: rgb(184, 107, 255);
        cursor: pointer;
    }
    .btnRecipe:active{
        background-color: rgb(167, 72, 255);        
    }



.showDetails{display: none;}
.recipeDetails{
    width: 50vh;
    min-height: 76vh;
    text-align: left;
    background-color: rgba(111, 0, 255, 0.473);
    backdrop-filter: blur(10px); 
    color: white;
    border-radius:0vh 5vh 10vh 0vh;
    position: absolute;
    transform: translate(0vh, 19vh);
}
    .divRecipe{
        padding: 5%;
        font-size: larger;
        font-weight: 200;
    }
        .btnDetails{
            width: 100%;
            background-color: transparent;
            border: 1px solid rgb(140, 0, 255);
            display: flex;
            justify-content: flex-end;
        }
            .btnDetails:hover{
                cursor: pointer;
            }
            .imgDetails{
                width: 30px;
            }
        .detailsImg{
            width: 60%;
            border-radius: 30px;
        }
        .spanDetails{
            padding-right: 0vh;
        }
        .aDetails{
            font-weight: 800;
            text-decoration: none;
            color: white;
            background-color: rgb(184, 107, 255);
            border-radius: 50px;
            padding: 5px 15px;
        }
            .aDetails:hover{
                cursor: pointer;
                background-color: rgb(164, 68, 253);
            }